<h2>ログインする</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "件のエラー") %>があります:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div>
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div style="margin-top: 16px;">
  <%= link_to "施設一覧に戻る", rooms_path, class: "btn btn-secondary" %>
  <%= link_to "戻る", root_path, class: "btn btn-secondary", style: "margin-left: 8px;" %>
</div>